<div class="screen">
  <div class="main-box">
    <h1 class="code" id="typewriter"><span id="cursor">|</span></h1>
    <p>I am a <b>Final Year Computer Science Student</b> with a <b>Minor in Math</b> at the <b>University of Calgary</b>. I am an aspiring Software Developer, passionate about crafting code, automating the future, and continuously pushing myself to learn more.</p>
    
    <app-social-button
      kind="location"
      label="Calgary, AB"
      href="https://maps.app.goo.gl/RGSeiYpy4WFJjx7B8"
      [size]="22">
    </app-social-button>
    
    <app-social-button
      kind="linkedin"
      label="Jerry Mukalel"
      href="https://www.linkedin.com/in/jerrymukalel/"
      [size]="22">
    </app-social-button>

    <app-social-button
      kind="github"
      label="jerry56156"
      href="https://github.com/jerry56156"
      [size]="22">
    </app-social-button>

    <app-social-button
      kind="mail"
      label="jerrymukalel.dev@gmail.com"
      href="jerrymukalel.dev@gmail.com"
      [size]="22">
    </app-social-button>

    <app-spotify-button></app-spotify-button>
  </div>
</div>