:host { display: inline-block; }


.social-btn{

  background: transparent;
  color: var(--text-primary);
  border: 1px solid transparent;
  transition: color 1.9s ease;
  padding: 10px 14px;
  padding-left: 0px;
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  font: inherit;
}

.lead{
  width: 0;
  opacity: 0;
  overflow: hidden;
  margin-right: 0;
  transition: width 160ms ease, opacity 160ms ease, margin-right 160ms ease;
}

.content{
  display: inline-flex;
  align-items: center;
  gap: 10px;
  transform: translateX(0);
  transition: transform 160ms ease;
}

.social-btn:hover .lead{
  width: 22px;
  opacity: 1;
  margin-right: 10px;
}

.social-btn:hover .content{
  transform: translateX(8px);
}
